@{
    ViewData["Title"] = "Home Page";
}


<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h1 class="brand-heading" style="text-align:center">HOMESICK</h1>
                    <p class="intro-text">
                        <h2>KHÔNG còn là</h2>
                        <h2>&nbsp; &nbsp; KHÔNG thể ăn những món ăn</h2>
                        <h2>&nbsp; &nbsp; &nbsp; &nbsp;KHÔNG thể nấu</h2>                        
                    </p>
                    <p style="text-align:match-parent">
                        Chỉ cần bạn thèm món ăn nào, người nội trợ sẽ nấu theo sở thích, mong muốn, sức khỏe của bạn, dù có là bữa trưa, bữa tối hay bữa sáng, thì các món ăn ngon miệng, lành mạnh an toàn luôn được mang tới bạn
                    </p>
                    <a href="#about" class="btn btn-circle page-scroll"> 
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 offset-md-2">
            <h2>Giới thiệu về HOMESICK</h2>
            <p>Phát triển cộng đồng xã hội mang đến cho bạn những bữa ăn tuyệt vời.</p>
            <p>Giúp đỡ những người nội trợ có nhiều thời gian rảnh và muốn có thêm thu nhập</p>
            <p>Cải thiện cuộc sống của chính bản thân và chính gia đình của bạn</p>
        </div>
    </div>
</section>
<!-- Download Section -->
<section id="register" class="content-section text-center">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-8 offset-md-2">
                <h2>Đăng ký</h2>
                <p>Bạn có thể đăng ký để trở thành những người nội trợ có thể kiếm ra tiền.</p>
                <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Đăng ký</a>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 offset-md-2">
            <h2>Liên lạc với chúng tôi</h2>
            <p>Công ty cổ phần RED EYE</p>
            <ul class="list-inline banner-social-buttons">
                <li class="list-inline-item">
                    <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                </li>
                <li class="list-inline-item">
                    <a href="https://github.com/BlackrockDigital/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                </li>
                <li class="list-inline-item">
                    <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>